@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik'
}

body{
    min-width: 100vw;
    height: 100vh;
}
article {
    text-align: center;
}

header,
footer {
    height: 10%;
    width: 100vw;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.no-click {
    pointer-events: none;
}

.gameDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    min-height: 200px;
}

.gameModeDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleplayer,
.multiplayer {
    position: absolute;
    top:10%; 
    display:flex;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    background-color: #623c89;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    text-align: center;

}
.singleplayer input, 
.multiplayer input {
    font-size: 20px;
    background-color: transparent;
    border:none;
    color: orange;
    font-weight: bold;
    text-align: center;
    transition: all 0.5 ease-in-out;
    height: 30px;
}

.singleplayer label, 
.multiplayer label {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.singleplayer input:hover,
.singleplayer input:focus,
.singleplayer input:active,
.multiplayer input:hover,
.multiplayer input:focus,
.multiplayer input:active {
    outline:none;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 22px;
}

.title {
    font-family: 'Bungee Spice';
    font-size: 65px;
    text-align: center;
}

.hide {
    visibility: hidden;
}

#mode {
    font-family: 'Bungee Spice';
    font-size: 30px;
    text-align: center;
}

#changeMode {
    background-color:#fba542;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    color:white;
    height: 30px;
    border:none;
    padding: 0 5px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgb(56, 56, 56);
    border-top: 2px solid #fccd97;
    border-left: 2px solid #fccd97;
}

#changeMode:hover{
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    transform: scale(0.95);
    border-top: none;
    border-left: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    justify-content: center;
}
.cell {
    width: 90px;
    height: 90px;
    border: 2px solid #333333;
    font-size: 70px;
    color: #48639C;
    font-family: 'Comfortaa';
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    background-image:url('https://dailynews.mcmaster.ca/wp-content/uploads/sites/3/revslider/home-desktop/circle-blue-overlay.png');
    background-size: 40px, 40px;
    background-repeat: no-repeat;
    background-position: center;
}

div[data-cellindex="0"],
div[data-cellindex="1"],
div[data-cellindex="2"]
 {
    border-top:2px solid white;
    outline:0;
}

div[data-cellindex="0"],
div[data-cellindex="3"],
div[data-cellindex="6"]
 {
    border-left:2px solid white;
    outline:0;
}

div[data-cellindex="6"],
div[data-cellindex="7"],
div[data-cellindex="8"]
 {
    border-bottom:2px solid white;
    outline:0;
}

div[data-cellindex="2"],
div[data-cellindex="5"],
div[data-cellindex="8"]
 {
    border-right:2px solid white;
    outline:0;
}

.buttons {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.gameStart,
.gameRestart {
    width: 70px;
    height: 70px;
    font-size: 15px;
    color: #332929;
    text-shadow: 1px 1px 1px #aaa5a5;
    background-color: #c6011b;
    border-radius:50%;
    border: none;
    box-shadow: 5px 5px 5px;
    margin: 0 20px;
    border-top: 4px solid #de556f;
    border-left: 3px solid #de556f;
}

.gameStatus {
    font-size: 20px;
    background-color: #623c89;
    color: white;
    font-size: 20px;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius:5px;

}

.gameStart:hover,
.gameRestart:hover {
    box-shadow: 2px 2px 2px;
    transform: scale(0.95);
    border-top: none;
    border-left: none;
}

.gameRestart:disabled {
    opacity: 0.5;
    box-shadow: 2px 2px 2px;
    transform: scale(0.95);
    border-top: none;
    border-left: none;
}
.footer {
    background-color:#F7996E;
    color: white;
    font-size: 15px;
}